.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.mapAndList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 500px;

}

.restaurantList {
  overflow: scroll;

  max-height: 500px;
  max-width: 400px;
}

.mainInfo {
  height: 400px;
}

.img {
  height: 200px;
  padding-top: 100px;
}

.App-link {
  color: #61dafb;
}

header {
  max-height: 600px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

h6 {
  margin-bottom: 0;
}

#map {
  width:50%;
  height: 95vh;
}

#restaurants-list {
  position: right;
  top: 720px;
  left: 10px;
  padding: 1rem;
  border-radius: 2px;
  width: auto;
  min-width: 300px;
  max-height: 550px;
  overflow: scroll;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#restaurants-list ul {
  list-style-type: none;
  text-align: left;
  padding-left: 1rem;
}

#add-restaurant {
  position: absolute;
  background-color: white;
  padding: 1rem;
  right:70px;
  top: 185px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;

}


.btn-primary{
  background-color: #333333!important;
}

.btn-light{
  cursor: pointer;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.google-places {
  color: blue;
  border: 1px solid #6DDAFB;
  border-radius: 2px;
  padding: 0 2px;
}

#filter{
  padding: 10px;
  width: 200px;
  display: flex;
  background-color: white;
  top: 0;
  z-index: 10000;
}


@media only screen and (max-width: 767px) {
  #restaurants-list {
    top: 110px;
  }
}
