@import url(https://fonts.googleapis.com/css?family=Vidaloka&display=swap);
@import url(https://fonts.googleapis.com/css?family=Asap&display=swap);


body {
  font-family: 'Asap', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
}

h6 {
  margin-bottom: 0;
}


.restaurantList {
  position: absolute;
  top: 1000px;
  left: 10px;
  padding: 20px;
  border-radius: 2px;
  width: auto;
  max-width: 450px;
  max-height: 88vh;
  overflow: scroll;
  background-color: white;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
  z-index: 1000;
}

ul {
  padding: 0;


}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 800px;

}

.btn-primary{
  background-color: #333333!important;
}

.btn-light{
  cursor: pointer;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.googlePlaces {
  color: blue;
  border: 1px solid #6DDAFB;
  border-radius: 2px;
  padding: 0 2px;
}

#filter {
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 10px;
    top: 0;

}

.select {
    margin:0px 10px 0px 10px;
    padding: 5px;

}

#map {
  height: 0px;
}


@media only screen and (max-width: 767px) {
  .restaurantList  {
    top: 500px;
  }

}

@media only screen and (max-width: 700px) {
  .restaurantList  {
    top: 300px;
  }

}
